<div>
    <p>
        <a href="#/prdocut" class="btn btn-primary" >返回产品列表</a>
    </p>
    <table class="table table-striped">
        <tr>
            <th>ID</th>
            <td>{{product.id}}</td>
        </tr>
        <tr>
            <th>分类</th>
            <td>{{product.category_id}}</td>
        </tr>
        <tr>
            <th>用户 ID</th>
            <td>{{product.author_id}}</td>
        </tr>
        <tr>
            <th>名称</th>
            <td>{{product.name}}</td>
        </tr>
        <tr>
            <th>显示名称</th>
            <td>{{product.display_name}}</td>
        </tr>
        <tr>
            <th>价格</th>
            <td>{{product.price}}</td>
        </tr>
        <tr>
            <th width="200">描述</th>
            <td>{{product.description}}</td>
        </tr>
        <tr>
            <th>产地</th>
            <td>{{product.country}}</td>
        </tr>
        <tr>
            <th>材质</th>
            <td>{{product.country}}</td>
        </tr>
        <tr>
            <th>创建时间</th>
            <td>{{product.created_at}}</td>
        </tr>
    </table>
</div>
